.DS_Store
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite
*.sqlite3
.env
.venv
venv/
env/
ENV/
.env.local
.env.development
.env.test
.env.production
.vscode/
.idea/
*.swp
*.swo
*.egg-info/
dist/
build/
pip-wheel-metadata/
node_modules/
npm-debug.log*
.streamlit/
*.db
*.db-journal
target/
**/__pycache__/
.vercel/
.next/
.vercel
